
{block body}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', {'packages': ['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {


        var options = {
            height: 340,
            width: 510,
            series: {
                0: { targetAxisIndex: 0 },
                1: { targetAxisIndex: 1 }

            },
            aggregationTarget: 'series',
            fontName: 'Arial',
            title: 'Teplota a vlhkost za posledních: {$grafText}',
            curveType: 'linear',
            legend: { position: 'bottom' }
        };

        var data = google.visualization.arrayToDataTable([
            ['Hodina', 'Teplota °C', 'Vlhkost %'],
            {foreach $graf as $val}
            [{$val['cas']}, {$val['teplota']}, {$val['vlhkost']}*100],
        {/foreach}


    ]);


        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
    }
</script>


    <div id="curve_chart"></div>

{/block}