{extends layout.latte}

{block title}Meteostanice{/block}

{block body}



    <div class="container">
        <div class="row">
            <iframe src="//free.timeanddate.com/clock/i786f9j3/n1960/tlcz12/fs24/ftb/pt10/pb10/tt0/ta1" frameborder="0"
                    width="479" height="60"></iframe><!--https://www.timeanddate.com/clocks/free.html-->


        </div>
        <div class="row">
            <div class="col-6">
                <div class="row">
                    <div class="col">
                        <table class="table table-bordered">
                            <tr>
                                <th scope="row">
                                    Počasí:
                                </th>
                                <td align="center">


                                    {if $posledni['vlhkost'] > 60}
                                        <img src="../pictures/Dest.svg" width="50%" height="50%">
                                    {elseif $posledni['vlhkost'] >= 45 && $posledni['vlhkost'] <= 60 && $posledni['teplota'] < 10}
                                        <img src="../pictures/Zatazeno.svg" width="50%" height="50%">
                                    {elseif $pocasi_cas['stav_dne'] == 'zapad'}
                                        {if $posledni['vlhkost'] >= 30 && $posledni['vlhkost'] < 45 && $posledni['teplota'] < 15}
                                            <img src="../pictures/Polojasno_noc.svg" width="50%" height="50%">
                                        {else}
                                            <img src="../pictures/Mesic.svg" width="50%" height="50%">
                                        {/if}
                                    {else}
                                        {if $posledni['vlhkost'] >= 30 && $posledni['vlhkost'] < 45 && $posledni['teplota'] < 15}
                                            <img src="../pictures/Polojasno_den.svg" width="50%" height="50%">
                                        {else}
                                            <img src="../pictures/Slunce.svg" width="50%" height="50%">
                                        {/if}
                                    {/if}

                                </td>
                            </tr>

                            <tr>
                                <th scope="row">
                                    Teplota:
                                </th>

                                    {ifset $posledni['teplota']}
                                <td align="center">{$posledni['teplota']} °C</td>
                                        {else}
                                <td align="center" bgcolor="#ff7573"> Žádná data </td>
                                        {/ifset}

                            </tr>

                            <tr>
                                <th scope="row">
                                    Vlhkost:
                                </th>
                                {ifset $posledni['vlhkost']}
                                    <td align="center">{$posledni['vlhkost']} %</td>
                                {else}
                                    <td align="center" bgcolor="#ff7573"> Žádná data </td>
                                {/ifset}
                            </tr>
                        </table>
                             <form method="post" action="{link merit_ted}">
                                 <button type="submit" class="btn btn-outline-secondary" style="margin-bottom: 20px">Změřit nyní</button>
                             </form>
                        <table class="table table-bordered">
                            <tr>
                                <th scope="row">
                                    Poslední východ slunce:
                                </th>
                                {ifset $posledniVychod['cas']}
                                    <td align="center">{$posledniVychod['cas']}</td>
                                {else}
                                    <td bgcolor="#ff7573" align="center"> Žádná data </td>
                                {/ifset}
                            </tr>

                            <tr>
                                <th scope="row">
                                    Poslední západ slunce:
                                </th>
                                {ifset $posledniZapad['cas']}
                                    <td align="center">{$posledniZapad['cas']}</td>
                                {else}
                                    <td align="center" bgcolor="#ff7573"> Žádná data </td>
                                {/ifset}
                            </tr>

                        </table>
                    </div>
                </div>
                <div class="row">


                    <div class="col">
                        <table class="table table-striped table-bordered table-sm">
                            <tr align="center">
                                <th scope="col">Datum</th>
                                <th scope="col">Východ</th>
                                <th scope="col">Posun</th>
                                <th scope="col">Západ</th>
                                <th scope="col">Posun</th>
                            </tr>
                            {var $pom = 0}
                            {var $pom2 = 0}
                            {foreach $stavyDne as $stav}

                                <tr align="center">
                                    {ifset $stav['datum_char']}
                                    <td>
                                        {$stav['datum_char']}
                                    </td>
                                     {else}
                                        <td>
                                            --.--. ----
                                        </td>
                                     {/ifset}

                                    {ifset $stav['cas_vychod']}
                                        <td>
                                            {$stav['cas_vychod']}
                                        </td>
                                        <td>

                                            {$stav['sec_vychod'] - $pom} sec
                                            {var $pom = $stav['sec_vychod']}
                                        </td>
                                    {else}
                                        <td>
                                            --:--:--
                                        </td>
                                        <td>
                                            --
                                        </td>
                                    {/ifset}



                                    {ifset $stav['cas_zapad']}
                                        <td>
                                            {$stav['cas_zapad']}
                                        </td>
                                        <td>
                                            {$stav['sec_zapad'] - $pom2} sec
                                            {var $pom2 = $stav['sec_zapad']}
                                        </td>

                                    {else}
                                        <td>
                                            --:--:--
                                        </td>
                                        <td>
                                            --
                                        </td>
                                    {/ifset}

                                </tr>
                            {/foreach}
                        </table>
                    </div>

                </div>

            </div>

            <div class="col-6">
                <div class="table-bordered">
                   <!-- <div id="curve_chart"></div> -->
                    {include graf.latte}
                </div>
                <div class="dropdown" align="right" style="margin-top: 10px; margin-bottom: 10px">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Údaje za poslední
                    </button>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <form method="get" action="{link index}">
                            <input type="hidden" name="drop_down" value="1">
                            <button type="submit" class="dropdown-item">1 Den</button>
                        </form>
                        <form method="get" action="{link index}">
                            <input type="hidden" name="drop_down" value="7">
                            <button type="submit" class="dropdown-item">7 Dní</button>
                        </form>
                        <form method="get" action="{link index}">
                            <input type="hidden" name="drop_down" value="30">
                            <button type="submit" class="dropdown-item">30 Dní</button>
                        </form>
                    </div>


                </div>

                <table class="table table-bordered">


                    <tr>
                        <th scope="col" colspan="2">
                            Ovládání čidel
                        </th>

                    </tr>

                    <tr>
                        <td>
                            Čidlo světla
                        </td>

                        {if $stavCidloSvetlo['stav'] == 'on'}
                            <td align="right" width="50">
                            <form action="{link offCidlo}" method="post">
                                <input type="hidden" name="id_cidlo" value="{$stavCidloSvetlo['id_cidlo']}">
                                <button type="submit" class="btn btn-outline-danger">Vypnout</button>
                            </form>
                            </td>
                        {else}
                        <td align="right" width="50">
                            <form action="{link onCidlo}" method="post">
                                <input type="hidden" name="id_cidlo" value="{$stavCidloSvetlo['id_cidlo']}">
                                <button type="submit"  class="btn btn-outline-success">Zapnout</button>
                            </form>
                        </td>
                        {/if}
                    </tr>

                    <tr>
                        <td>
                            Čidlo vlhkosti
                        </td>
                        {if $stavCidloVlhkost['stav'] == 'on'}
                            <td align="right" width="50">
                                <form action="{link offCidlo}" method="post">
                                    <input type="hidden" name="id_cidlo" value="{$stavCidloVlhkost['id_cidlo']}">
                                    <button type="submit" class="btn btn-outline-danger">Vypnout</button>
                                </form>
                            </td>
                        {else}
                            <td align="right" width="50">
                                <form action="{link onCidlo}" method="post">
                                    <input type="hidden" name="id_cidlo" value="{$stavCidloVlhkost['id_cidlo']}">
                                <button type="submit"  class="btn btn-outline-success">Zapnout</button>
                                </form>
                            </td>
                        {/if}
                    </tr>
                    <tr>
                        <td>
                            Čidlo teploty
                        </td>
                        {if $stavCidloTeplota['stav'] == 'on'}
                            <td align="right" width="50">
                            <form action="{link offCidlo}" method="post">
                                <input type="hidden" name="id_cidlo" value="{$stavCidloTeplota['id_cidlo']}">
                                <button type="submit" class="btn btn-outline-danger">Vypnout</button>
                            </form>
                            </td>
                        {else}
                            <td align="right" width="50">
                                <form action="{link onCidlo}" method="post">
                                    <input type="hidden" name="id_cidlo" value="{$stavCidloTeplota['id_cidlo']}">
                                    <button type="submit"  class="btn btn-outline-success">Zapnout</button>
                                </form>
                            </td>
                        {/if}
                    </tr>

                </table>

            </div>

        </div>


    </div>

{/block}